/* --bg: #363333; */
/* --pFont: #e16428; */
/* --cardBg: #272121; */
/* --sFont: #f6e9e9; */
* {
  font-family: "Courier New", Courier, monospace;
}
.App h1 {
  text-align: center;
}
.TodoList {
  background-color: var(--cardBg);
  border-radius: 1rem;
  width: 50vw;
}

.TodoForm input {
  background-color: var(--sFont);
  border: none;
  width: 90%;
  height: 2rem;
  margin: 1rem 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
  color: var(--cardBg);
  border: 2px solid var(--cardBg);
  transition: border 0.5s;
}

.TodoForm input:focus {
  outline: none;
  border: 2px solid var(--pFont);
}

.TodoForm {
  border-bottom: 1px solid var(--bg);
  border-radius: 1rem 1rem 0 0;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
}

.TodoForm button {
  background: var(--pFont);
  border: none;
  width: 10rem;
  color: var(--sfont);
  border-top-right-radius: 1rem;
  font-size: 1.5rem;
}

.TodoComponent {
  display: flex;
  align-items: center;
}

.TodoComponent p {
  width: 80%;
  overflow-wrap: break-word;
  cursor: pointer;
}

.TodoComponent form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TodoComponent form input {
  border: none;
  background-color: var(--sFont);
  color: var(--bg);
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 0.3rem;
}

.TodoComponent form button {
  color: var(--sFont);
  background-color: var(--pFont);
  border: none;
  margin: auto 1rem;
  font-size: 1.2rem;
  width: 5rem;
  height: 2rem;
  border-radius: 1rem;
}

.TodoList ul {
  padding-bottom: 1rem;
  list-style-type: none;
  margin: 1rem;
}

.TodoComponent .Buttons {
  display: flex;
  align-items: center;
}
.TodoComponent .Buttons button {
  display: grid;
  place-content: center;
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
  cursor: pointer;
  color: transparent;
  background: transparent;
  border-radius: 50%;
  padding: 0.5rem;
  border: 1px solid transparent;
  transition: 0.5s ease;
}

.TodoList ul li:hover .Delete {
  border: 1px solid crimson;
  color: crimson;
}

.TodoList ul button.Edit {
  color: var(--pFont);
  border: 1px solid chocolate;
  margin: 10px;
}

.Buttons button:focus {
  outline: none;
}

.TodoList ul li {
  color: var(--sFont);
  margin: 1rem 1rem;
  border: 1px solid var(--pFont);
  padding: 1rem 0.5rem;
  font-size: 1.5rem;
}

.strike {
  text-decoration: line-through;
}

@media screen and (max-width: 700px) {
  .TodoList ul li {
    font-size: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .TodoList {
    width: 100vw;
    border-radius: 0;
  }
  .TodoForm button {
    border-radius: 0;
  }
  .TodoComponent p {
    font-size: 0.8rem;
  }
}
